<p id="notice"><%= notice %></p>

<div class="container">
	<h1 class="text-center text-primary">Welcome to <%= @user.username %>'s Page</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4 center">
			<%= gravatar_for @user, size: 300 %>
		</div>
		<div class="col-md-4" style="margin-top: 70px;">
			<p><b style="font-size: 20px;">User Name: <i class="text-info"><%= @user.username%></i></b></p>
			<p><b style="font-size: 20px;">User Email: <i class="text-info"><%= @user.email%></i></b></p>
		</div>
	</div>
</div>
<div class="container">
	<h2 class="text-center"><%= @user.username%>'s Articles:</h2>
</div>

<div align="center">
	<%= will_paginate @user_articles %>
</div>
<%= render 'articles/article', obj: @user_articles %>
<div align="center">
	<%= will_paginate @user_articles %>
</div>